= render partial: 'story', locals: { story: @story }

= render partial: 'comments/form', locals: { parent: @story }

%ul#comments
  - @story.comments.each do |comment|
    = render partial: 'comments/comment', locals: { tag_type: :li, comment: comment }
