@include blueprint-typography;

body {
  @include blueprint-interaction;
  @include container;
  margin-top: 15px;
  & > * {
    @include column-base;
    width: 100%;
  }
}

body > header {
  @include box-sizing(border-box);
  background-color: $hn-orange;
  line-height: 1;
  padding: 4px 6px;
  h1 {
    @include float(left);
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px 0 0;
  }
  ul {
    @include float(left);
    line-height: 1.2em;
    vertical-align: middle;
    @include inline-block-list;
    li {
      &:after { content: ' |'; }
      &:last-child:after { content: none; }
    }
    a { @include unstyled-link; }
  }
}

#content {
  background-color: $hn-beige;
}

#flash {
  @include column-base;
  width: 100%;
}
